.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border-radius: 50px;
    background-color: rgba($color: #5F6FAA, $alpha: 0.4);
    border: 1px solid rgba($color: #999999, $alpha: 1);
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
    font-family: "Irish Grover", system-ui;
    color: white;
    
    .question-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        
        .question {
            margin: 20px;
            height: calc(100% - 40px);
            aspect-ratio: 1.78;
            max-width: calc(100% - 360px);
            min-width: 40%;
            border-radius: 35px;
            background-color: white;

            .question-img {
                border-radius: 28px;
                height: 100%;
                width: 100%;
            }

            @media (max-width:1000px){
                //max-width: calc(100% - 100px);
            }
            @media (max-width: 1000px) {
                zoom: 0.9;
            }
    
            @media (max-width: 900px) {
                zoom: 0.8;
            }
    
            @media (max-width: 800px) {
                zoom: 0.7;
            }
    
            @media (max-width: 600px) {
                zoom: 0.6;
            }
    
            @media (max-width: 500px) {
                zoom: 0.5;
            }
        }

        .action-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 320px;
            height: auto;
            padding: 20px;

            .question-number-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                font-size: 36px;

                .search-img-container {
                    aspect-ratio: 1;
                    height: 100px;
                    align-content: center;
                    background-image: url('../../public/assets/question/magnifyingGlass.svg');
                    background-size: cover;

                    p {
                        padding-right: 15px;
                    }
                }
            }

            .answer-container {

                .answer-item {
                    width: 100%;
                }

                label {
                    font-size: 24px;
                }
                
                input {
                    padding: 5px;
                    height: 44px;
                    border-radius: 15px;
                    font-size: 20px;
                    color: rgba($color: #03010D, $alpha: 0.5)
                }
            }

            .submit-container {
                width: 100%;
                .submit-btn {
                    height: 44px;
                    width: 44%;
                    font-size: 24px;
                    border-radius: 20px;
                    background-color: #1E024E;
                }
            }
        }

        @media (max-width: 1000px) {
            flex-direction: column;
             align-items: center;
             justify-content: center;
             .action-container {
                 align-items: center;
                 justify-content: center;
             }
        }
    }
    .hint-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgba($color: #5F6FAA, $alpha: 0.4);
        margin: 20px;
        border-radius: 35px;
        .hint-heading {
            width: 300px;
        }

        .hint-container {
            width: calc(100% - 300px);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
        }

        @media (max-width: 1000px) {
            //flex-direction: column;

            // .hint-container {
            //     width: 95%;
            // }
        }
    }

    @media (max-width:1000px) {
        // width: 65%;
    }
}

.counter-container {
    width: 70%;
    height: 70%;
    background-color: rgba($color: #5F6FAA, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Irish Grover", system-ui;
    border: 1px solid rgba($color: #999999, $alpha: 1);
    //border-image: linear-gradient(to bottom right, rgba($color: #ffffff, $alpha: 1), rgba($color: #999999, $alpha: 1)) 1;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
    
    .counter-text {
        font-size: 2.8rem;
    }

    .time-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        font-size: 2.5rem;
    }

    .time-value {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        font-size: 2.8rem;
    }
}
