.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background-color: rgba($color: #5F6FAA, $alpha: 0.4);
    border: 1px solid transparent;
    font-family: "Irish Grover", system-ui;
    color: white;
    
    .question-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;

        @media (max-width:650px) {
            height: 70%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .question {
            margin: 20px;
            height: calc(100% - 40px);
            aspect-ratio: 1.78;
            max-width: calc(100% - 360px);
            min-width: 40%;
            border-radius: 35px;
            background-color: white;

            .question-img {
                border-radius: 28px;
                height: 100%;
                width: 100%;
            }

            @media (min-width: 650px) and (max-width: 1100px){
                max-width: calc(100% - 100px);
            }

            @media (max-width: 650px){
                max-width: calc(100% - 25px);
                max-height: 40%;
            }
        }

        .action-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 320px;
            height: auto;
            padding: 20px;

            @media (max-width: 650px) {
                padding-top: 0px;
            }

            .question-number-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                font-size: 36px;

                @media (max-width: 650px){
                    font-size: 18px;
                }

                .search-img-container {
                    aspect-ratio: 1;
                    height: 100px;
                    align-content: center;
                    background-image: url('../../public/assets/question/magnifyingGlass.svg');
                    background-size: cover;

                    @media (max-width:650px) {
                        height: 60px;
                    }

                    p {
                        padding-right: 15px;
                    }
                }
            }

            .answer-container {

                .answer-item {
                    width: 100%;
                }

                label {
                    font-size: 24px;

                    @media (max-width: 650px) {
                        font-size: 15px;
                    }
                }
                
                input {
                    padding: 5px;
                    height: 44px;
                    border-radius: 15px;
                    font-size: 20px;
                    color: rgba($color: #03010D, $alpha: 0.5);

                    @media (max-width: 650px) {
                        height: 22px;
                        font-size: 12.5px;
                        padding: 2.5px;
                    }
                }
            }

            .submit-container {
                width: 100%;
                .submit-btn {
                    height: 44px;
                    width: 44%;
                    font-size: 24px;
                    border-radius: 20px;
                    background-color: #1E024E;

                    @media (max-width: 650px) {
                        height: 22px;
                        font-size: 12.5px;
                        width: 28%;
                    }
                }
            }
        }

        @media (min-width: 650px) and (max-width: 1100px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .action-container {
                align-items: center;
                justify-content: center;
            }
        }

    }

    .hint-timer-container {
        @media (max-width: 650px) {
            font-size: 10px;
        }
    }

    .hint-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgba($color: #5F6FAA, $alpha: 0.4);
        margin: 20px;
        border-radius: 35px;

        @media (max-width:650px){
            height: 30%;
            margin: 5px;
        }

        .hint-heading {
            width: 300px;
            @media (max-width: 650px) {
                width: 10px;
                font-size: 12px;
            }
        }

        .hint-container {
            width: calc(100% - 300px);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;

             @media (max-width: 650px) {
                width: calc(100% - 70px);
            }
        }

        .hint{
            @media (max-width: 650px) {
                font-size: 10px;
            }
        }
    }

    @media (min-width: 650px) and (max-width: 1100px) {
        width: 65%;
    }

    @media (max-width: 650px) {
        height: 100%;
        width: 100%;
    }
}