@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.home {
    .loginPage {
        width: 100%;
        height: 100%;

        .loginContentItemContainer {
            width: 100%;
            height: 100%;
            border-radius: 60px;
            border: 5px solid rgba($color: #000000, $alpha: 0.2);
            background-color: rgba($color: #d4d4d4, $alpha: 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-family: "Nunito Sans", sans-serif;

            .loginImgContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5%;
            }
    
            .loginContent {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 10%;
                padding-right: 12%;

                .loginBtn{
                    margin-top: 5%;
                    height: 35px;
                    width: 100%;
                    color: white;
                    background-color:#337FBB;
                }

                .loginHeadingContainer {
                    margin-bottom: 5%;
                    font-weight: bolder;
                    font-size: 3rem;
                }

                .loginSubHeadingContainer {
                    font-weight: bold;
                    font-size: 2rem;
                }
                
                .loginFormContainer {
                    display: flex;
                    flex-direction: column;
                
                    .formItem {
                        margin-top: 3%;
                        width: 100%;
                        display: flex; /* Ensure it's a flex container */
                        justify-content: flex-start; /* Align items to the left */
                        text-align: left;
                        font-size: 2rem;
                    }                    
                    
                    input {
                        margin-top: 1%;
                        margin-bottom: 1%;
                        width: 100%;
                        height: 10%; 
                        display: block;
                        background-color: transparent;
                        border-radius: 8px;
                        border: 2px solid rgba($color: #e0e0e0, $alpha: 1); 
                        color: white; 
                        font-size: 1.5rem;
                    }
                }

                .rememberMeContainer {
                    margin-top: 3%;
                    height: 20px;
                    font-size: 1rem;
                    text-align: left;
                }
            }
        }
    }
}
