.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    color: white;

    @media (max-width: 650px) {
        height: 100%;
        width: 100%;
    }
    
    .leaderboard-img{
        height: 40%;
        width: 35%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        @media (min-width:650px) and (max-width: 1100px){
            height: 40%;
            width: 70%;
        }

        @media (max-width: 650px) {
            padding-bottom: 18px;
            height: 140px;
            width: 60%;
        }
    }
    
    .leaderboard{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 80%;
        text-align: center;

        @media (max-width: 1100px) {
            width: 70%;
            height: 47%;
        }

        .winners {
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            background-color: rgba($color: #5F6FAA, $alpha: 0.4);
            border: 1px solid transparent;
            
            @media (max-width: 650px) {
                height: 350px;
                padding: 15px;
                width: 350px;
            }
        }

        .your-position {
            font-size: 24px;
            font-family: "Irish Grover", system-ui;
            font-weight: 400;
            font-style: normal;
            width: 100%;
            padding: 20px;

            @media (max-width: 650px) {
                font-size: 15px;
                padding: 15px;
                width: 350px;
            }
            
            .your-position-card {
                background-color: rgba($color: #5F6FAA, $alpha: 0.4);
                font-size: 15px;

                @media (max-width:650px) {
                    font-size: 12px;
                }
            }
        }

        .card-content {
            width: 100%;
            height: 36px;
            margin: 1px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 25px;
            border: 1px solid rgba($color: #ffffff, $alpha: 1);
            font-size: 20px;
            font-family: "Irish Grover", system-ui;
            font-weight: 400;
            font-style: normal;

            @media (max-width:650px) {
                font-size: 15px;
            }
            :hover {
                zoom: 1.15;
            }
            
            .rank {
                width: 20px;
            }

            .team-name {
                width: 350px;
            }

            .correct-answer {
                width: 200px;
            }
             
            .time {
                width: 100px;
            }
        }

        #card-content-header {
            border: none;
        }
    }

    @media (min-width: 650px) and (max-width: 1100px){
        height: 78%;
        width: 80%;
    }
}