.lobby-container {
    background-image: url("../../public/assets/lobbyBG.png");
    background-size: cover;
    height: 100vh;
    min-height: 650px;
    width: 100vw;

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;

        .sidebar-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 15%;
        }

        .outlet-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 85%;
            z-index: 3;
        }

        // @media (max-width: 800px) {
        //     .outlet-container {
        //         zoom: 0.8;
        //     }
        //     .sidebar-container {
        //         zoom: 0.8;
        //     }
        // }
        //  @media (max-width: 550px) {
        //      flex-direction: column;

        //      .sidebar-container {
        //          width: 50px;
        //          margin-right: 75%;
        //         //  zoom: 0.5;
        //      }
             
        //     //  .outlet-container {
        //     //     //  width: 90%;
        //     //     //  zoom: 0.5;
        //     //  }
        //  }

        @media (max-height: 500px) {
            zoom: 0.65;
        }

        @media (max-height: 400px) {
            zoom: 0.55;
        }

        @media (max-width: 1000px) {
            zoom: 0.9;
        }

        @media (max-width: 900px) {
            zoom: 0.8;
        }

        @media (max-width: 800px) {
            zoom: 0.7;
        }

        @media (max-width: 600px) {
            zoom: 0.6;
        }

        @media (max-width: 500px) {
            zoom: 0.5;
        }

    }
}

.navbar-container {
    height: 16vh;
    width: 100vw;
    // @media (max-width:650px){
    //     width: 85vw;
    //     height: 12vh;
    // }
}

.navbar{
    height: 72%;
    margin-left: 16px;
    margin-right: 10px;
    // @media (max-width:650px){
    //     margin-left: 16px;
    //     margin-right: 55px;
    // }
}

.text{
    color: #FFFF;
    font-family: 'Irish Grover';
    font-size: 2rem;
    font-weight: 400;
    z-index: 1000;
    position: relative;
}

.navbar-element{
    padding-top: 10%;
    padding-bottom: 10%;
}
