.lobby-container {
    background-image: url("../../public/assets/lobbyBG.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;

        .sidebar-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 15%;
        }

        .outlet-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 85%;
            z-index: 3;
        }
    }
}

.navbar-container {
    height: 16%;
    width: 100%;
}

.navbar{
    height: 72%;
    margin-left: 16px;
    margin-right: 10px;
}

