.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4%;
    height: 70%;
    width: 85px;
    border-radius: 30px;
    margin: auto;
    background-color: rgba($color: #5f6faa, $alpha: 0.4);

    @media (max-width: 1100px) {
        height: 34%;
    }
}

.images{
    margin-top: 1px;
    margin-bottom: 1ch;
    padding: 8px;    
}

.tooltip {
    position: absolute;
    left: 120%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Irish Grover';
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s;

    @media (max-width:1100px){
        left: 105%;
        font-size: 1.5rem;
    }
}

.nav-item:hover .tooltip {
    opacity: 1;
}

.tooltip {
    opacity: 1;
}   






