.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80px;
    border-radius: 30px;
    margin: auto;
    background-color: rgba($color: #5f6faa, $alpha: 0.4);
}

.images{
    padding: 10px;    
}