.large-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55vh;
    width: 55vw;
    background-color: #5f6faa5e;
    border-radius: 45px;
    border-width: 1.8px;
    border-style: solid;
    padding: 10px;
    position: relative;
    color: white;
    border: 1px solid rgba($color: #999999, $alpha: 1);
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 1);

    @media (min-width: 650px) and (max-width: 1000px){
        width: 65vw;
        height: 50vh;
    }

    @media (max-width: 650px) {
        width: 90vw;
        height: 70vh;
    }
}


.user-container{
    background-color: transparent;
}

.box-parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1000px){
        flex-direction: column;
    }
    @media (max-width: 600px) {
        flex-direction: row;
    }
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 650px) {
        justify-content: center;
        align-items: center;
    }
}

.input-field{
    margin: 1rem;
    @media (max-width: 1000px) {
        justify-content: center;
    }
}

.input-box {
    height: 5vh;
    width: 20vw;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 45px;

    @media(max-width: 650px){
        height: 2vh;
        width: 10vw;
    }
}


.text{
    display: flex;
    justify-content: left;
    font-family: 'Irish Grover';
    font-size: 2rem;
    font-weight: 400;
    color: #FFFF;
    z-index: 1000;
    position: relative;
    left: 10px;

    @media (min-width: 650px) and (max-width: 1000px) {
        justify-content: center;
        left: 0px;
    }

    @media(max-width: 650px){
        font-size: 1.25rem;
        justify-content: center;
        left: 0px;
    }
}

.details {
    display: flex;
    font-size: 1.5rem;
    height: 44px;
    padding: 10px;
    padding-top: 0%;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 45px;

    @media(min-width: 650px) and (max-width: 1000px)  {
        justify-content: center;
    }

    @media(max-width: 650px){
        height: 30px;
        padding: 5px;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }
}