.large-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55vh;
    width: 55vw;
    background-color: #5f6faa5e;
    border-radius: 45px;
    border-width: 1.8px;
    border-style: solid;
    padding: 10px;
    position: relative;
}


.user-container{
    background-color: transparent;
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-field{
    margin: 1rem;
}

.input-box {
    height: 5vh;
    width: 20vw;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 45px;
}


.text{
    display: flex;
    justify-content: left;
    font-family: 'Irish Grover';
    font-size: 2rem;
    font-weight: 400;
    color: #FFFF;
    z-index: 1000;
}

